.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #00000012;
    display: grid;
    place-items: center;
}
.edit-modal{
    background-color: #fff;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}